@charset "utf-8";
/* CSS Document */
h1 {
	  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	color: black;
	font-size: 50px;
}
p1 {
	font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}
h2 {
	 font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
	font-size: 50px;
	background-color: cornflowerblue;
}
h6 {
	font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
h5 {
	font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
	font-size: 20px;
}

p2 { 
	font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: oblique;
}

p3 {
	font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  padding: 50px;
  text-align: center;
background-color:#7D27F5;
}

.imagen {
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

